<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="news" type="com.epam.newsportal.model.transfer.NewsTransfer"*/-->
<!--/*@thymesVar id="user" type="com.epam.newsportal.model.transfer.UserTransfer"*/-->
<!--/*@thymesVar id="error" type="java.lang.Boolean"*/-->

<th:block th:fragment="signIn">
    <div class="col-3">
        <div class="card text-center">
            <div class="card-header" th:text="#{sign.in}">Sign in</div>
            <div class="card-body">
                <div th:if="${#request.getParameter('error')} != null" th:text="#{bad.credentials}" class="alert alert-danger">
                    Bad Credentials
                </div>
                <form th:action="@{/sign/in/process}" th:method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control text-center" name="username" placeholder="username"
                               th:placeholder="#{user.username}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control text-center" name="password" placeholder="password"
                               th:placeholder="#{user.password}">
                    </div>
                    <button type="submit" class="btn btn-dark btn-block" th:text="#{submit}">Submit</button>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="signUp">
    <div class="col-3">
        <div class="card text-center">
            <div class="card-header" th:text="#{sign.up}">Sign up</div>
            <div class="card-body">
                <form th:action="@{/sign/up/process}" th:method="POST" th:object="${user}">
                    <div class="form-group">
                        <input type="text" class="form-control text-center" name="username" placeholder="username"
                               th:placeholder="#{user.username}" th:value="*{username}" th:field="*{username}"
                               th:classappend="${#fields.hasErrors('username') ? 'is-invalid' :  ''}">
                        <div class="invalid-feedback" th:errors="*{username}">
                            Error
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control text-center" name="password" placeholder="password"
                               th:placeholder="#{user.password}" th:field="*{password}"
                               th:classappend="${#fields.hasErrors('password') ? 'is-invalid' :  ''}">
                        <div class="invalid-feedback" th:errors="*{password}">
                            Error
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control text-center" name="passwordRepeat" placeholder="password repeat"
                               th:placeholder="#{user.password.repeat}" th:field="*{passwordRepeat}"
                               th:classappend="${#fields.hasErrors('passwordRepeat') ? 'is-invalid' :  ''}">
                        <div class="invalid-feedback" th:errors="*{passwordRepeat}">
                            Error
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark btn-block" th:text="#{submit}">Submit</button>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="addNews">
    <div class="col-6">
        <div class="card text-center">
            <div class="card-header" th:text="#{add.news}">Add news</div>
            <div class="card-body">
                <form th:action="@{/news/add/process}" th:method="POST" th:object="${news}">
                    <div class="form-group">
                        <input type="text" class="form-control text-center" name="title" placeholder="title"
                               th:placeholder="#{news.title}" th:value="${news.title}" th:form="*{title}"
                               th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}">
                        <div class="invalid-feedback" th:errors="*{title}">
                            Error
                        </div>
                    </div>
                    <div class="form-group">
                    <textarea type="password" class="form-control text-center" name="brief" placeholder="brief"
                              th:placeholder="#{news.brief}" th:text="${news.brief}" th:form="*{brief}"
                              th:classappend="${#fields.hasErrors('brief') ? 'is-invalid' : ''}"></textarea>
                        <div class="invalid-feedback" th:errors="*{brief}">
                            Error
                        </div>
                    </div>
                    <div class="form-group">
                    <textarea type="password" class="form-control text-center" name="content" placeholder="content"
                              th:placeholder="#{news.content}" th:text="${news.content}" th:form="*{content}"
                              th:classappend="${#fields.hasErrors('content') ? 'is-invalid' : ''}"></textarea>
                        <div class="invalid-feedback" th:errors="*{content}">
                            Error
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark btn-block" th:text="#{submit}">Submit</button>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="editNews">
    <div class="col-6">
        <div class="card text-center">
            <div class="card-header" th:text="#{edit.news}">Edit News</div>
            <div class="card-body">
                <form th:action="@{/news/edit/process}" th:method="POST" th:object="${news}">
                    <input type="hidden" name="id" th:value="*{id}">
                    <div class="form-group">
                        <input type="text" class="form-control text-center" name="title" placeholder="title"
                               th:placeholder="#{news.title}" th:value="${news.title}"th:form="*{title}"
                               th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}">
                        <div class="invalid-feedback" th:errors="*{title}">
                            Error
                        </div>
                    </div>
                    <div class="form-group">
                    <textarea type="password" class="form-control text-center" name="brief" placeholder="brief"
                              th:placeholder="#{news.brief}" th:text="${news.brief}"th:form="*{brief}"
                              th:classappend="${#fields.hasErrors('brief') ? 'is-invalid' : ''}"></textarea>
                        <div class="invalid-feedback" th:errors="*{brief}">
                            Error
                        </div>
                    </div>
                    <div class="form-group">
                    <textarea type="password" class="form-control text-center" name="content" placeholder="content"
                              th:placeholder="#{news.content}" th:text="${news.content}"th:form="*{content}"
                              th:classappend="${#fields.hasErrors('content') ? 'is-invalid' : ''}"></textarea>
                        <div class="invalid-feedback" th:errors="*{content}">
                            Error
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark btn-block" th:text="#{submit}"></button>
                </form>
            </div>
        </div>
    </div>
</th:block>

</html>