<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="dropdownLanguage">
    <div class="dropdown m-1">
        <button class="btn btn-outline-light dropdown-toggle" id="dropdownLanguage" data-toggle="dropdown"
                th:text="#{language}">
            Language
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
            <a class="dropdown-item text-center" th:text="#{language.english}"
               th:href="@{__${#request.getRequestURI()}__(locale='en')}"
               th:classappend="${#strings.equals(session.get('locale'), 'en') ? 'active' : ''}">
                English
            </a>
            <a class="dropdown-item text-center" th:text="#{language.russian}"
               th:href="@{__${#request.getRequestURI()}__(locale='ru')}"
               th:classappend="${#strings.equals(session.get('locale'), 'ru') ? 'active' : ''}">
                Russian
            </a>
        </div>
    </div>
</th:block>

<th:block th:fragment="dropdownSign">
    <div class="dropdown m-1">
        <button class="btn btn-outline-light dropdown-toggle" id="dropdownSign" data-toggle="dropdown" th:text="#{role.guest}">
            Guest
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSign">
            <a class="dropdown-item text-center" th:text="#{sign.in}" th:href="@{/sign/in}">
                Sign in
            </a>
            <a class="dropdown-item text-center" th:text="#{sign.up}" th:href="@{/sign/up}">
                Sign up
            </a>
        </div>
    </div>
</th:block>

<th:block th:fragment="dropdownUser">
    <div class="dropdown m-1">
        <button class="btn btn-outline-light dropdown-toggle" id="dropdownUser" data-toggle="dropdown" th:text="${#authentication.getPrincipal().username}">
            User
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUser">
            <form th:action="@{/sign/out/process}" th:method="POST">
                <button type="submit" class="dropdown-item text-center" th:text="#{sign.out}">
                    Sign out
                </button>
            </form>
        </div>
    </div>
</th:block>

</html>