<mat-card>
  <mat-card-title>Sign In</mat-card-title>
  <mat-card-content>
    <form #form="ngForm">
      <br>
      <mat-error *ngIf="notFound">Username not found</mat-error>
      <mat-error *ngIf="forbidden">Wrong password</mat-error>
      <mat-form-field class="width">
        <mat-label>Username</mat-label>
        <input matInput type="text" name="username" #username="ngModel" [(ngModel)]="user.username" required minlength="4" maxlength="40">
        <mat-error *ngIf="(username.dirty || username.touched) && username.errors?.required">Username must not be empty</mat-error>
        <mat-error *ngIf="(username.dirty || username.touched) && username.hasError('minlength')">Length must not be less than 4</mat-error>
        <mat-error *ngIf="(username.dirty || username.touched) && username.hasError('maxlength')">Length must not be more than 40</mat-error>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field class="width">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required minlength="4" maxlength="40">
        <mat-error *ngIf="(password.dirty || password.touched) && password.errors?.required">Password must not be empty</mat-error>
        <mat-error *ngIf="(password.dirty || password.touched) && password.hasError('minlength')">Length must not be less than 4</mat-error>
        <mat-error *ngIf="(password.dirty || password.touched) && password.hasError('maxlength')">Length must not be more than 40</mat-error>
      </mat-form-field>
      <br>
      <br>
      <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="signIn()">Sign In</button>
    </form>
  </mat-card-content>
</mat-card>
