<mat-card class="width">
  <mat-card-title>Sign Up</mat-card-title>
  <mat-card-content>
    <form #form="ngForm">
      <br>
      <mat-error *ngIf="alreadyExist">Username already exist</mat-error>
      <mat-error *ngIf="!passwordsAreEqual">Passwords must be equal</mat-error>
      <mat-form-field class="width">
        <mat-label>Username</mat-label>
        <input matInput type="text" name="username" #u="ngModel" [(ngModel)]="user.username" required minlength="4" maxlength="40">
        <mat-error *ngIf="(u.dirty || u.touched) && u.errors?.required">Username must not be empty</mat-error>
        <mat-error *ngIf="(u.dirty || u.touched) && u.hasError('minlength')">Length must be less than 4</mat-error>
        <mat-error *ngIf="(u.dirty || u.touched) && u.hasError('maxlength')">Length must be more than 40</mat-error>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field class="width">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" #p="ngModel" [(ngModel)]="user.password"
               required minlength="4" maxlength="40" (change)="checkPasswords()" (blur)="checkPasswords()">
        <mat-error *ngIf="(p.dirty || p.touched) && p.errors?.required">Password must not be empty</mat-error>
        <mat-error *ngIf="(p.dirty || p.touched) && p.hasError('minlength')">Length must be less than 4</mat-error>
        <mat-error *ngIf="(p.dirty || p.touched) && p.hasError('maxlength')">Length must be more than 40</mat-error>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field class="width">
        <mat-label>Password Repeat</mat-label>
        <input matInput type="password" name="passwordRepeat" #pr="ngModel" [(ngModel)]="user.passwordRepeat"
               required minlength="4" maxlength="40" (change)="checkPasswords()" (blur)="checkPasswords()">
        <mat-error *ngIf="(pr.dirty || pr.touched) && pr.errors?.required">Password must not be empty</mat-error>
        <mat-error *ngIf="(pr.dirty || pr.touched) && pr.hasError('minlength')">Length must be less than 4</mat-error>
        <mat-error *ngIf="(pr.dirty || pr.touched) && pr.hasError('maxlength')">Length must be more than 40</mat-error>
      </mat-form-field>
      <br>
      <br>
      <button mat-raised-button color="primary" [disabled]="form.invalid || !passwordsAreEqual" (click)="signUp()">Sign Up</button>
    </form>
  </mat-card-content>
</mat-card>
