<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="newsList" type="java.util.List<com.epam.newsportal.persistence.entity.News>"*/-->
<!--/*@thymesVar id="news" type="com.epam.newsportal.persistence.entity.News"*/-->

<th:block th:fragment="newsList">
    <div class="card-columns m-5">
        <div class="card text-center" th:each="news : ${newsList}">
            <a class="stretched-link" th:href="@{/news/{id}(id=${news.id})}"></a>
            <div class="card-body">
                <h5 class="card-title" th:text="${news.title}">Title</h5>
                <p class="card-text" th:text="${news.brief}">Brief</p>
                <p class="card-text">
                    <small class="text-muted" th:text="${news.date}">Date</small>
                </p>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="news">
    <div class="col-6">
        <div class="card text-center">
            <div class="card-header" th:text="${news.title}">Title</div>
            <div class="card-body">
                <p class="card-title" th:text="${news.brief}">Brief</p>
                <p class="card-text" th:text="${news.content}">Content</p>
                <p class="card-text">
                    <small class="text-muted" th:text="${news.date}">Date</small>
                </p>
            </div>
            <th:block th:if="${#strings.equals(#session.getAttribute('user').role, 'ADMIN')}">
                <div class="card-footer d-flex">
                    <a class="btn btn-dark flex-fill mx-1" th:href="@{/news/edit/{id}(id=${news.id})}" th:text="#{edit}">Edit></a>
                    <a class="btn btn-danger flex-fill mx-1" th:href="@{/news/delete/{id}(id=${news.id})}" th:text="#{delete}">Delete></a>
                </div>
            </th:block>
        </div>
    </div>
</th:block>

</html>