<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="news" type="com.epam.newsportal.persistence.entity.News"*/-->>
<!--/*@thymesVar id="username" type="java.lang.String"*/-->>


<th:block th:fragment="signIn">
    <div class="col-3">
        <div class="card text-center">
            <div class="card-header" th:text="#{sign.in}"></div>
            <div class="card-body">
                <form th:action="@{/user/sign/in}" th:method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control text-center" name="username"
                               th:placeholder="#{user.username}" placeholder="username" th:value="${username ?: ''}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control text-center" name="password"
                               th:placeholder="#{user.password}" placeholder="password" th:value="${username ?: ''}">
                    </div>
                    <button type="submit" class="btn btn-dark btn-block" th:text="#{submit}"></button>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="signUp">
    <div class="col-3">
        <div class="card text-center">
            <div class="card-header" th:text="#{sign.up}"></div>
            <div class="card-body">
                <form th:action="@{/user/sign/up}" th:method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control text-center" name="username"
                               th:placeholder="#{user.username}" placeholder="username" th:value="${username ?: ''}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control text-center" name="password"
                               th:placeholder="#{user.password}" placeholder="password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control text-center" name="passwordRepeat"
                               th:placeholder="#{user.password.repeat}" placeholder="password repeat">
                    </div>
                    <button type="submit" class="btn btn-dark btn-block" th:text="#{submit}"></button>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="addNews">
    <div class="col-6">
        <div class="card text-center">
            <div class="card-header" th:text="#{add.news}"></div>
            <div class="card-body">
                <form th:action="@{/news/add}" th:method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control text-center" name="title"
                               th:placeholder="#{news.title}" placeholder="title" th:value="${news != null ? news.title : ''}">
                    </div>
                    <div class="form-group">
                    <textarea type="password" class="form-control text-center" name="brief"
                              th:placeholder="#{news.brief}" placeholder="brief" th:text="${news != null ? news.brief : ''}"></textarea>
                    </div>
                    <div class="form-group">
                    <textarea type="password" class="form-control text-center" name="content"
                              th:placeholder="#{news.content}" placeholder="content" th:text="${news != null ? news.content : ''}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark btn-block" th:text="#{submit}"></button>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="editNews">
    <div class="col-6">
        <div class="card text-center">
            <div class="card-header" th:text="#{edit.news}"></div>
            <div class="card-body">
                <form th:action="@{/news/edit}" th:method="POST">
                    <input type="hidden" name="id" th:value="${news.id}">
                    <div class="form-group">
                        <input type="text" class="form-control text-center" name="title"
                               th:placeholder="#{news.title}" placeholder="title" th:value="${news != null ? news.title : ''}">
                    </div>
                    <div class="form-group">
                    <textarea type="password" class="form-control text-center" name="brief"
                              th:placeholder="#{news.brief}" placeholder="brief" th:text="${news != null ? news.brief : ''}"></textarea>
                    </div>
                    <div class="form-group">
                    <textarea type="password" class="form-control text-center" name="content"
                              th:placeholder="#{news.content}" placeholder="content" th:text="${news != null ? news.content : ''}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark btn-block" th:text="#{submit}"></button>
                </form>
            </div>
        </div>
    </div>
</th:block>

</html>